
    body {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      background-image: url(magic-background.png);
      background-repeat: no-repeat;
      background-color: lavender;
    }
    
    .first{
      display: flex;
      justify-content: center;
    }
    
    .last{
      display: flex;
      justify-content: center;
    }
    
    .flip-card {
      background-color: transparent;
      width: 150px;
      height: 150px;
      perspective: 1000px;
      display: flex;
      justify-content: center;
      margin-left: 3vw;
      cursor: pointer;
    }
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 1.8s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .first .flip-card-front {
      background-color: rgb(163, 27, 163);
      font-size: 30px;
      text-align: center;
      color: palevioletred;
    }
    
    .last .flip-card-front {
      background-color: palevioletred;
      font-size: 30px;
      text-align: center;
      color: rgb(163, 27, 163);
    }
    
    .first .flip-card-back {
      background-color: palevioletred;
      color: white;
      transform: rotateY(180deg);
      min-width: fit-content;
    }
    
    .last .flip-card-back {
      background-color: rgb(163, 27, 163);
      color: white;
      transform: rotateY(180deg);
      min-width: fit-content;
    }
    
    h2{
      color: blueviolet;
      text-align: center;
      text-decoration: underline;
      font-weight: bolder;
      font-size: xx-large;
    }
    
    h3{
      color: palevioletred;
      text-align: center;
      font-size: x-large;
    }
    
    h4{
      font-size: x-large;
    }
    
    .extra h2{
      color: blueviolet;
      text-align: center;
      font-size: x-large;
      text-decoration: none;
    }

    .extra a{
      display: flex;
      justify-content: center;
      text-decoration: none;
    }
    
    .extra button{
      color: blanchedalmond;
      background-color: rgb(190, 59, 190);
      border: 4px solid palevioletred;
      border-radius: 20px;
      width: 200px;
      font-size: 20px;
      position: relative;
      transition: 0.9s;
      font-weight: bold;
      cursor: pointer;
    }
    
    .extra button:active{
      top: 2px;
    }
    
    .extra button:hover{
      bottom: 1px;
      font-weight: bolder;
      font-size: 22px;
      background-color: palevioletred;
      border-color: blueviolet;
      transition: 0.9s;
      text-decoration: underline;
    }
    
    .affirmations h3{
      color: palevioletred;
      text-align: left;
      font-size: 30px;
      text-decoration: none;
      font-weight: bold;
    }
    .affirmations{
      padding-top: 10vw;
    }
    .girl{
      display: flex; 
    }
    
    .girl img{
      margin-left: 8vw;
      margin-top: 20vw;
    }
    
    
    .girl p{
      color:blueviolet;
      font-size: 25px;
      font-weight: bold;
      padding-left: 20vw;
    }
    
    #myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      border: none;
      outline: none;
      background-color: rgb(190, 59, 190);
      color: blanchedalmond;
      cursor: pointer;
      padding: 10px;
      border-radius: 50px;
    }
    
    #myBtn:hover {
      font-weight: bolder;
      background-color: palevioletred;
      transition: 0.9s;
    }
    #myBtn i {
      font-size: 32px;
      color: #fff;
      line-height: 0;
    }
    
    .menu button{
      color: blanchedalmond;
      background-color: rgb(190, 59, 190);
      border: 4px solid palevioletred;
      border-radius: 20px;
      width: 13vw;
      font-size: 20px;
      position: relative;
      transition: 0.9s;
      cursor: pointer;
      font-weight: bold;
      margin-left: 2vw;
      min-width: fit-content;
    }
    
    .menu button:active{
      top: 2px;
    }
    
    .menu button:hover{
      bottom: 1px;
      font-weight: bolder;
      font-size: 22px;
      background-color: palevioletred;
      border-color: purple;
      transition: 0.9s;
      text-decoration: underline;
      
    }
    
    .menu{
      display: flex;
      padding-top: 2vw;
      padding-bottom: 2vw;
      justify-content: center;
      min-width: fit-content;
    }
    
  